<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>对不起！你访问的页面不存在 - 404 not found</title>
    <style>
        body{ background-color:#999;}
        #main{ width:400px; height:200px; padding:30px; margin:100px auto 0 auto; line-height:200%; background-color:#FFF; border:1px solid #666; text-align:center; font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif}
        h1{ font-size:30px;}
    </style>
</head>


<body>
<div id="main">
    <h1>404 Not Found</h1>
    对不起！你访问的页面不存在，<a href="/">返回首页</a>
</div>
</body>
</html>
