<div class="flink">
    <div class="flink_tit"><a href="/flink.php" target="_blank">--  友情链接 --</a></div>
    <ul class="f5">
        <li><a href="/flink_add.php" target="_blank" style="color:#c10000">申请加入</a></li>
    </ul>
</div>
<div class="footer">
    <p>
        <a href="#">关于网站</a>  |
        <a href="#">网站声明</a>  |
        <a href="#">用户反馈</a>  |
        <a href="#">合作伙伴</a>  |
        <a href="#">友情链接</a>  |
        <a href="#">联系我们</a>  |
        <a href="#">服务收费</a>
    </p>
    <p><a href="/" target="_blank">情感网</a> 版权所有 </p>
</div>
<!-- /footer -->

</body>
</html>